.app {
  background: #080f12;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .app-container {
    width: 998px;
    height: 373px;
    background-image: url('../app/assets/talent-calc-bg.png');
    background-size: cover;
    border: #363345 1px solid;

    .title-card-container {
      margin: 2% 2% 2% 2%;
    }

    .title-card {
      background: #131a1f;
      display: flex;
      justify-content: center;
      text-align: center;

      font-size: 30px;
      margin-bottom: 75px;
      padding: 5px;
    }

    .components-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      min-height: max-content;
    }
  }
}

body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  color: #e6e6e6;
}

@media (max-width: 1024px) {

  .app {
    align-items: baseline;

    .app-container {

      align-items: center;

      .title-card {
        font-size: 25px;
        margin-bottom: 0px;
      }

      .components-container {
        flex-direction: column;
      }

    }
  }
}